<a href="https://colab.research.google.com/github/application1324/python/blob/main/2%ED%95%99%EA%B8%B0_%EC%88%98%EC%97%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 2중 for문

# 1 hello 10번 출력

# print('hello')
# print('hello')
# print('hello')
# print('hello')
# print('hello')
# print('hello')
# print('hello')
# print('hello')
# print('hello')
# print('hello')
# 다른것으로 바꿀때 전부 다 바꾸어야 하는 문제가 생김
# 더 많은 것 할기 힘들다

# 2 hello 10번 출력

# for(int i = 0; i < 10; i++)
# range(10) = 0~9 == range(0,10) == range(0,10,1) = 0에서 10까지 1씩 증가
# for i in range(10):
#   print('hello', end='\n')

# 1부터 10000까지 반복 출력
# for i in range(1, 11):
#   print(i)
#   for j in range(1,10001):
#     print(f'{j}',end=' ')
#   print('')

# 구구단 2~19단
# for i in range(2,20):
#   print(f'{i}단')

#   for j in range(1,20):
#     print(f'{i} * {j} = {i*j}')
#   print('')

for i in range(1, 10):
  for j in range(2, 10):
    print(f'{j} * {i} = {j*i}',end=' ')
  print('')

2 * 1 = 2 3 * 1 = 3 4 * 1 = 4 5 * 1 = 5 6 * 1 = 6 7 * 1 = 7 8 * 1 = 8 9 * 1 = 9
2 * 2 = 4 3 * 2 = 6 4 * 2 = 8 5 * 2 = 10 6 * 2 = 12 7 * 2 = 14 8 * 2 = 16 9 * 2 = 18
2 * 3 = 6 3 * 3 = 9 4 * 3 = 12 5 * 3 = 15 6 * 3 = 18 7 * 3 = 21 8 * 3 = 24 9 * 3 = 27
2 * 4 = 8 3 * 4 = 12 4 * 4 = 16 5 * 4 = 20 6 * 4 = 24 7 * 4 = 28 8 * 4 = 32 9 * 4 = 36
2 * 5 = 10 3 * 5 = 15 4 * 5 = 20 5 * 5 = 25 6 * 5 = 30 7 * 5 = 35 8 * 5 = 40 9 * 5 = 45
2 * 6 = 12 3 * 6 = 18 4 * 6 = 24 5 * 6 = 30 6 * 6 = 36 7 * 6 = 42 8 * 6 = 48 9 * 6 = 54
2 * 7 = 14 3 * 7 = 21 4 * 7 = 28 5 * 7 = 35 6 * 7 = 42 7 * 7 = 49 8 * 7 = 56 9 * 7 = 63
2 * 8 = 16 3 * 8 = 24 4 * 8 = 32 5 * 8 = 40 6 * 8 = 48 7 * 8 = 56 8 * 8 = 64 9 * 8 = 72
2 * 9 = 18 3 * 9 = 27 4 * 9 = 36 5 * 9 = 45 6 * 9 = 54 7 * 9 = 63 8 * 9 = 72 9 * 9 = 81

In [ ]:
# # 반복문
# for i in range(1, 10): #1부터 9까지 하나씩 가져와서 i 변수에 저장
#   # :으로 들여쓰기 - 할일 지정하는 공간
#   print(f'2 * {i} = {2*i}')

num = int(input())
for i in range(1,10):
  print(f'{num} * {i} = {num*i}')

1
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9

In [ ]:
# nums = []

# num = int(input())
# for i in range(num):
#   input_int = int(input())
#   nums.append(input_int)

# for i in nums:
#   for j in range(1,10):
#     print(f'{i} * {j} = {i*j}')

# for i in range(2,5):
#    for j in range(1,10):
#      print(f'{i} * {j} = {i*j}')

# for i in range(1,20):
#   for j in range(2,20):
#     print(f'{j} * {i} = {i*j}',end='\t')
#   print()

rows = 4
cols = 6

for i in range(rows):
  for j in range(cols):
    print(f'{i*cols+j}',end='\t')
  print()

0	1	2	3	4	5
6	7	8	9	10	11
12	13	14	15	16	17
18	19	20	21	22	23

In [ ]:
from IPython.utils.path import random

rows = int(input('가로줄을 입력하세요'))
cols = int(input('세로줄을 입력하세요'))

# 4 * 6해 24 준비하라고함

# 실제 학생수가 24보다 클수도 이쏙, 작을 수도 있음
# 만약에 24보다 작다면... 없는 자리를 X로 표시해서 24를 무조건 만들겠음

student = ['고현준','곽권','김규민','김민성','김민후','김서빈','김지민','박민지','박진우','박현지','신보경','양현욱','유승찬','유호진','이서연','이서영','이의인','이태한','장성준','전민준','정인서','조은호','최웅']
for i in range(rows * cols - len(student)):
  student.append('X')

random.shuffle(student)

cnt = 0
for i in range(rows):
  for j in range(cols):
    print(f'{student[cnt]}',end='\t')
    cnt += 1
  print()

In [ ]:
for i in range(5):
  for j in range(i+1):
    print(f'*',end='')
  print()

In [ ]:
# 행번호 1를 입력받아 별을 출력하는 코드
num = int(input())

for i in range(num):
  for j in range(i+1):
    print(f'*',end='')
  print()

In [ ]:
num = int(input())

for i in range(num):
  for j in range(num - i): # 5~0
    print(f'*',end='')
  print()

In [ ]:
num = int(input())

for i in range(num):
  for j in range(num - i - 1): # 5~0
    print(f'-',end='')

  for j in range(i+1):
     print(f'*',end='')
  print()

In [ ]:
import math

a = 2.5
print(math.ceil(a))

b = int(2.5) + 1
print(int(b))

3
2

In [ ]:
rows = int(input())

loop = int(rows/2) + 1
star = 1
zero = int(rows/2)
sw = 1

for i in range(rows):
    for k in range(zero):
        print(f'0', end='')
    for k in range(star):
        print(f'8', end='')
    for k in range(zero):
        print(f'0', end='')
    print()

    if i == loop -1 :
        sw = sw * -1
    star = star + (2 * sw)  #1개->3개
    zero = zero - (1 * sw)  #3개->2개

5
00800
08880
88888
08880
00800

In [ ]:
rows = int(input("줄 개수를 입력(홀수)"))

loop = int(rows / 2) + 1

for i in range(loop):
  for j in range(loop - i - 1):
    print(f"0",end="")

  for j in range(i * 2 + 1):
    print(f"*",end="")

  for j in range(loop - i - 1):
    print(f"0",end="")

  print()

  # 절반에 대한 코드

줄 개수를 입력(홀수)5
00*00
0***0
*****
0***0
00*00

In [ ]:
for i in range(5):
  for j in range(5):
      print(i if i%2==0 else -i ,end="")
  print()

00000
-1-1-1-1-1
22222
-3-3-3-3-3
44444

In [ ]:
sw = 1

for i in range(5):
  for j in range(5):
      print(f"{i * sw}",end="")
  sw *= -1
  print()

00000
-1-1-1-1-1
22222
-3-3-3-3-3
44444

In [ ]:
for i in range(1,6):
  for j in range(5):
      print(i if i%2==0 else -i ,end="")
  print()

-1-1-1-1-1
22222
-3-3-3-3-3
44444
-5-5-5-5-5

In [ ]:
sw = -1

for i in range(1,6):
  for j in range(5):
      print(f"{i * sw}",end="")
  sw *= -1
  print()

-1-1-1-1-1
22222
-3-3-3-3-3
44444
-5-5-5-5-5

In [ ]:
# 1 2 3 4 5 6 7
# 8 - - - - - 14
# - - - - - - 35

number = 1
for i in range(5):
  for j in range(7):
    print(f"{number}",end="\t")
    number += 1
  print()

1	2	3	4	5	6	7
8	9	10	11	12	13	14
15	16	17	18	19	20	21
22	23	24	25	26	27	28
29	30	31	32	33	34	35

In [ ]:
# number = 1
for i in range(5):
  for j in range(7):
    print(f"{i * 7 + j + 1}",end="\t")
    # number += 1
  print()

1	2	3	4	5	6	7
8	9	10	11	12	13	14
15	16	17	18	19	20	21
22	23	24	25	26	27	28
29	30	31	32	33	34	35

In [ ]:
for i in range(1,6):
  for j in range(1,8):
    print(f"{i * 7 + j + 1 - 8}",end="\t")
  print()

1	2	3	4	5	6	7
8	9	10	11	12	13	14
15	16	17	18	19	20	21
22	23	24	25	26	27	28
29	30	31	32	33	34	35

In [ ]:
number = 1
for i in range(5):
  for j in range(i+1):
    print(f"{number}",end="\t")
    number += 1
  print()

1
2	3
4	5	6
7	8	9	10
11	12	13	14	15